@import url(https://fonts.googleapis.com/css2?family=Play:wght@700&family=Poppins:wght@400;600;700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-linked:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #253131;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 77.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 1rem;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  display: none;
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.rating__reviews {
  font-size: 0.875rem;
  line-height: 1.5;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  font-weight: 600;
  line-height: 1.5;
}
@media (min-width: 79.375em) {
  .button {
    height: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .button {
    height: calc(2.625rem + 0.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .button {
    height: 2.625rem;
  }
}
@media (min-width: 79.375em) {
  .button {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .button {
    font-size: calc(1rem + 0.125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .button {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .button {
    display: flex;
  }
}

.title {
  font-family: Play;
  font-weight: bold;
  line-height: 1.1666666667;
  color: #253131;
}
@media (min-width: 79.375em) {
  .title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .title {
    font-size: calc(1.5625rem + 1.4375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.5625rem;
  }
}

.subtitle {
  line-height: 1.75;
  font-size: 1rem;
  color: rgba(37, 49, 49, 0.7);
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: white;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.header {
  background: #253131;
  position: relative;
  z-index: 5;
}
.header._header-scroll {
  position: fixed;
  width: 100%;
  transition: all 0.3s ease 0s;
  background: #253131f8;
}
@media (min-width: 79.375em) {
  .header {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .header {
    padding-top: calc(0.625rem + 0.3125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .header {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .header {
    padding-bottom: calc(0.625rem + 0.3125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 0.625rem;
  }
}
.header__container {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
}
.header__logo {
  position: relative;
  z-index: 3;
  white-space: nowrap;
  color: #FDC332;
  font-family: "Play", sans-serif;
  font-weight: bold;
  line-height: 1.1428571429;
}
@media (min-width: 79.375em) {
  .header__logo {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .header__logo {
    font-size: calc(1.25rem + 0.5 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .header__logo {
    font-size: 1.25rem;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__actions {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 79.375em) {
  .header__actions {
    column-gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .header__actions {
    column-gap: calc(0.625rem + 0.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .header__actions {
    column-gap: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .header__actions {
    order: 4;
    flex: 1 1 100%;
  }
}
@media (any-hover: hover) {
  .header__login:hover {
    text-decoration: underline;
  }
}
.header__signup {
  color: #FDC332;
}
@media (any-hover: hover) {
  .header__signup:hover {
    text-decoration: underline;
  }
}

.menu__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 79.375em) {
  .menu__body {
    column-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .menu__body {
    column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .menu__body {
    column-gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background: #253131;
    padding: 6.25rem 1.25rem;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.8125rem;
    background: #253131;
  }
}
@media (max-width: 61.99875em) and (max-width: 29.99875em) {
  .menu__body::before {
    height: 4.0625rem;
  }
}
.menu__list {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__list:hover {
    color: #fff;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    font-size: 1.375rem;
    color: #ffff;
  }
  .menu__list:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .menu-open .menu__body {
    display: block;
    left: 0;
  }
}
.footer {
  padding: 2.5rem 0 0.9375rem 0;
  color: rgba(255, 255, 255, 0.6);
  background: #253131;
}
.footer__body {
  margin-bottom: 1.875rem;
}
@media (min-width: 56.25em) {
  .footer__body {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 3fr 1fr;
  }
}
@media (min-width: 56.25em) and (min-width: 79.375em) {
  .footer__body {
    gap: 6.25rem;
  }
}
@media (min-width: 56.25em) and (min-width: 20em) and (max-width: 79.375em) {
  .footer__body {
    gap: calc(2.5rem + 3.75 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (min-width: 56.25em) and (max-width: 20em) {
  .footer__body {
    gap: 2.5rem;
  }
}
.footer__info {
  margin-bottom: 0.9375rem;
}
.footer__title {
  font-weight: 500;
  line-height: 1.0625;
  color: #FFFFFF;
}
@media (min-width: 79.375em) {
  .footer__title {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .footer__title {
    font-size: calc(1.5625rem + 0.4375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .footer__title {
    font-size: 1.5625rem;
  }
}
@media (min-width: 79.375em) {
  .footer__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .footer__title:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .footer__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.footer__text {
  font-size: 1rem;
  line-height: 1.5;
}
.footer__menu:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (min-width: 29.99875em) {
  .footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 29.99875em) and (min-width: 79.375em) {
  .footer__menu {
    gap: 3.125rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .footer__menu {
    gap: calc(0.625rem + 2.5 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (min-width: 29.99875em) and (max-width: 20em) {
  .footer__menu {
    gap: 0.625rem;
  }
}
.footer__copy {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.5;
}

.spollers__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.spollers__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.7;
  color: #FFFFFF;
}
@media (min-width: 79.375em) {
  .spollers__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .spollers__title:not(:last-child) {
    margin-bottom: calc(0.3125rem + 1.5625 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .spollers__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}
.spollers__list li {
  transition: all 0.3s ease 0s;
}
@media (min-width: 79.375em) {
  .spollers__list li:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .spollers__list li:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.3125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .spollers__list li:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .spollers__list li:hover {
    color: #FFFFFF;
  }
}
.spollers__list__link {
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.3s ease 0s;
  color: white;
}

.social__title {
  font-weight: 500;
  line-height: 1.7;
  color: #FFFFFF;
}
@media (min-width: 79.375em) {
  .social__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .social__title {
    font-size: calc(1.125rem + 0.125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .social__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 79.375em) {
  .social__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .social__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .social__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.social__item {
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}
@media (min-width: 79.375em) {
  .social__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .social__item:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.625 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .social__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.social__item::before {
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}
@media (any-hover: hover) {
  .social__item:hover {
    color: #FFFFFF;
  }
}

.mainblock {
  background: #253131;
}
@media (min-width: 79.375em) {
  .mainblock {
    padding-top: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mainblock {
    padding-top: calc(1.25rem + 8.125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mainblock {
    padding-top: 1.25rem;
  }
}
@media (min-width: 79.375em) {
  .mainblock {
    padding-bottom: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mainblock {
    padding-bottom: calc(1.25rem + 11.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mainblock {
    padding-bottom: 1.25rem;
  }
}
.mainblock__container {
  position: relative;
  display: flex;
  flex-direction: row;
}
@media (max-width: 47.99875em) {
  .mainblock__container {
    flex-direction: column;
  }
}
.mainblock__body {
  flex: 0 0 43.9516129032%;
}
.mainblock__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  line-height: 1.2769230769;
  color: #FFFFFF;
}
@media (min-width: 79.375em) {
  .mainblock__title {
    font-size: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mainblock__title {
    font-size: calc(1.6875rem + 2.6875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mainblock__title {
    font-size: 1.6875rem;
  }
}
.mainblock__title:not(:last-child) {
  margin-bottom: 0.3125em;
}
.mainblock__title span {
  color: #FDC332;
}
.mainblock__subtitle {
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 79.375em) {
  .mainblock__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mainblock__subtitle {
    font-size: calc(0.9375rem + 0.1875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mainblock__subtitle {
    font-size: 0.9375rem;
  }
}
@media (min-width: 79.375em) {
  .mainblock__subtitle {
    margin-bottom: 2.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mainblock__subtitle {
    margin-bottom: calc(0.9375rem + 1.375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mainblock__subtitle {
    margin-bottom: 0.9375rem;
  }
}
.mainblock__button {
  color: #253131;
  background: #FDC332;
  animation: btn 0.5s linear infinite alternate running 0s forwards;
}
@media (any-hover: hover) {
  .mainblock__button:hover {
    background: #dda50b;
  }
}
.mainblock__title._active, .mainblock__subtitle._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.mainblock__image-ibg {
  position: absolute;
  overflow: hidden;
  border-left: 1.5625rem solid #FDC332;
  border-bottom: 1.5625rem solid #FDC332;
  border-radius: 50% 0 50% 50%;
  padding-bottom: 56.4516129032%;
  width: 60.4838709677%;
  right: -12%;
  top: -45%;
}
@media (max-width: 47.99875em) {
  .mainblock__image-ibg {
    margin: 1.5625rem 0;
    position: relative;
    border-radius: 50%;
    border: 0.3125rem solid #FDC332;
    align-self: center;
    right: 0;
  }
}

.courses {
  background: #E5E5E5;
}
@media (min-width: 79.375em) {
  .courses {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .courses {
    padding-top: calc(1.875rem + 1.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .courses {
    padding-top: 1.875rem;
  }
}
@media (min-width: 79.375em) {
  .courses {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .courses {
    padding-bottom: calc(2.5rem + 6.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .courses {
    padding-bottom: 2.5rem;
  }
}
.courses__title {
  text-align: center;
}
.courses__title:not(:last-child) {
  margin-bottom: 0.2083333333em;
}
.courses__subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 28.75rem;
}
@media (min-width: 79.375em) {
  .courses__subtitle:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .courses__subtitle:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .courses__subtitle:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.courses__swiper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.375rem, 1fr));
}
@media (min-width: 79.375em) {
  .courses__swiper {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .courses__swiper {
    margin-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .courses__swiper {
    margin-bottom: 1.25rem;
  }
}
.courses__slide {
  box-shadow: 0px 32px 45px rgba(0, 0, 0, 0.05);
}
.courses__arrows {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}
.courses__arrow {
  flex: 0 0 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses__arrow_prev {
  background: #bebebe;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .courses__arrow_prev:hover {
    background: #FDC332;
  }
}
.courses__arrow_next {
  background: #FDC332;
  transform: rotate(-180deg);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .courses__arrow_next:hover {
    background: #dda50b;
  }
}

.slide-courses {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffff;
}
.slide-courses__image-ibg {
  padding-bottom: 51.0204081633%;
}
@media (min-width: 79.375em) {
  .slide-courses__content {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .slide-courses__content {
    padding-top: calc(1.25rem + 0.3125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .slide-courses__content {
    padding-top: 1.25rem;
  }
}
@media (min-width: 79.375em) {
  .slide-courses__content {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .slide-courses__content {
    padding-bottom: calc(1.25rem + 0.3125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .slide-courses__content {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 79.375em) {
  .slide-courses__content {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .slide-courses__content {
    padding-left: calc(0.625rem + 0.9375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .slide-courses__content {
    padding-left: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .slide-courses__content {
    padding-right: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .slide-courses__content {
    padding-right: calc(0.625rem + 0.9375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .slide-courses__content {
    padding-right: 0.625rem;
  }
}
.slide-courses__text {
  font-weight: 500;
  line-height: 1.5;
  flex: 1 1 auto;
}
@media (min-width: 79.375em) {
  .slide-courses__text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .slide-courses__text {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .slide-courses__text {
    font-size: 1rem;
  }
}
.slide-courses__info {
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(37, 49, 49, 0.7);
  align-self: flex-end;
}

.steps {
  position: relative;
  background: #E5E5E5;
  z-index: -2;
}
@media (min-width: 79.375em) {
  .steps {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .steps {
    padding-top: calc(2.5rem + 5 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .steps {
    padding-top: 2.5rem;
  }
}
@media (min-width: 79.375em) {
  .steps {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .steps {
    padding-bottom: calc(2.5rem + 5 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .steps {
    padding-bottom: 2.5rem;
  }
}
.steps__bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FDC332;
  transform-origin: bottom right;
  transform: skew(-45deg, 0deg);
  z-index: -1;
}
.steps__container {
  z-index: 3;
}
@media (min-width: 47.99875em) {
  .steps__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
@media (min-width: 47.99875em) and (min-width: 79.375em) {
  .steps__container {
    gap: 3.125rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .steps__container {
    gap: calc(0.3125rem + 2.8125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .steps__container {
    gap: 0.3125rem;
  }
}
.steps__image-ibg {
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
  padding-bottom: 57.6388888889%;
}
@media (max-width: 47.99875em) and (min-width: 79.375em) {
  .steps__image-ibg:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .steps__image-ibg:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .steps__image-ibg:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.steps__image-ibg._active {
  transform: translate(0%, 0px);
  opacity: 1;
}
.steps__content {
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.steps__content._active {
  transform: translate(0%, 0px);
  opacity: 1;
}

@media (min-width: 79.375em) {
  .content-steps__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .content-steps__title:not(:last-child) {
    margin-bottom: calc(0.3125rem + 0.3125 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .content-steps__title:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}
@media (max-width: 47.99875em) {
  .content-steps__title {
    text-align: center;
  }
}
.content-steps__subtitle:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .content-steps__subtitle {
    text-align: center;
    margin: 0 auto;
  }
}
.content-steps__item:not(:last-child) {
  margin-bottom: 1.75rem;
}

.item-step__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}
.item-step__title:not(:last-child) {
  margin-bottom: 1rem;
}
.item-step__title span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #253131;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 1rem 0 0;
}
.item-step__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(37, 49, 49, 0.7);
}

.mentors {
  background: #E5E5E5;
}
@media (min-width: 79.375em) {
  .mentors {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mentors {
    padding-top: calc(2.5rem + 5 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mentors {
    padding-top: 2.5rem;
  }
}
@media (min-width: 79.375em) {
  .mentors {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mentors {
    padding-bottom: calc(2.5rem + 6.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mentors {
    padding-bottom: 2.5rem;
  }
}
.mentors__title {
  text-align: center;
}
.mentors__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.mentors__subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 25rem;
}
@media (min-width: 79.375em) {
  .mentors__subtitle:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .mentors__subtitle:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .mentors__subtitle:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 29.99875em) {
  .mentors__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  }
}
@media (min-width: 29.99875em) and (min-width: 79.375em) {
  .mentors__items {
    gap: 2rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .mentors__items {
    gap: calc(0.9375rem + 1.0625 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (min-width: 29.99875em) and (max-width: 20em) {
  .mentors__items {
    gap: 0.9375rem;
  }
}
.mentors__item {
  background: #fff;
  display: flex;
  flex-direction: column;
}
@media (max-width: 29.99875em) {
  .mentors__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.item-mentors__image-ibg {
  padding-bottom: 64.1025641026%;
  overflow: hidden;
}
.item-mentors__image-ibg img {
  transition: all 0.5s ease 0s;
  transform: scale(1);
}
@media (any-hover: hover) {
  .item-mentors__image-ibg img:hover {
    transform: scale(1.1);
  }
}
.item-mentors__body {
  padding: 1.25rem 0.9375rem;
  flex: 1 1 auto;
}
@media (max-width: 29.99875em) {
  .item-mentors__body {
    padding: 0.9375rem 0.625rem;
  }
}
.item-mentors__name {
  font-weight: 500;
  line-height: 1.5;
}
@media (min-width: 79.375em) {
  .item-mentors__name {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .item-mentors__name {
    font-size: calc(1.125rem + 0.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .item-mentors__name {
    font-size: 1.125rem;
  }
}
.item-mentors__name:not(:last-child) {
  margin-bottom: 0.375rem;
}
.item-mentors__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(37, 49, 49, 0.7);
}
.item-mentors__text:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-mentors__rating:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-mentors .social-mentors {
  display: flex;
  gap: 0.625rem;
}
.item-mentors .social-mentors__item {
  border: 1px solid rgba(37, 49, 49, 0.7);
  color: rgba(37, 49, 49, 0.7);
  border-radius: 50%;
  flex: 0 0 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.item-mentors .social-mentors__item::before {
  font-size: 0.75rem;
}
@media (any-hover: hover) {
  .item-mentors .social-mentors__item:hover {
    color: #000;
  }
}

.advantages {
  position: relative;
}
@media (min-width: 79.375em) {
  .advantages {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .advantages {
    padding-top: calc(2.5rem + 5 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .advantages {
    padding-top: 2.5rem;
  }
}
@media (min-width: 79.375em) {
  .advantages {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .advantages {
    padding-bottom: calc(2.5rem + 6.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .advantages {
    padding-bottom: 2.5rem;
  }
}
.advantages__bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #253131;
  transform-origin: bottom left;
  transform: skew(45deg, 0deg);
  z-index: -1;
}
@media (max-width: 61.99875em) {
  .advantages__bg {
    transform: skew(0deg, 0deg);
  }
}
@media (min-width: 47.99875em) {
  .advantages__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 47.99875em) and (min-width: 79.375em) {
  .advantages__container {
    gap: 2.5rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .advantages__container {
    gap: calc(0.625rem + 1.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .advantages__container {
    gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .advantages__container:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.advantages__content {
  flex: 0 1 50%;
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.advantages__content._active {
  transform: translate(0%, 0px);
  opacity: 1;
}
.advantages__title {
  color: #ffff;
}
.advantages__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 29.99875em) {
  .advantages__title {
    text-align: center;
  }
}
.advantages__subtitle {
  color: rgba(255, 255, 255, 0.6);
  max-width: 23.75rem;
}
.advantages__subtitle:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 29.99875em) {
  .advantages__subtitle {
    text-align: center;
  }
}
@media (min-width: 29.99875em) {
  .advantages__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.125rem, 1fr));
    gap: 2rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 79.375em) {
  .advantages__items {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .advantages__items {
    margin-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .advantages__items {
    margin-bottom: 1.25rem;
  }
}
.advantages__item {
  background: #ffff;
  padding: 1.25rem;
}
@media (max-width: 29.99875em) and (min-width: 79.375em) {
  .advantages__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .advantages__item:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 29.99875em) and (max-width: 20em) {
  .advantages__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.advantages__image-ibg {
  padding-bottom: 39.1666666667%;
  flex: 0 1 50%;
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.advantages__image-ibg._active {
  transform: translate(0%, 0px);
  opacity: 1;
}

.item-advantages {
  font-weight: 500;
}
.item-advantages__number {
  text-align: center;
  color: #309565;
  line-height: 1.5;
}
@media (min-width: 79.375em) {
  .item-advantages__number {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .item-advantages__number {
    font-size: calc(1.5625rem + 1.4375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .item-advantages__number {
    font-size: 1.5625rem;
  }
}
.item-advantages__text {
  text-align: center;
  line-height: 1.5;
}
@media (min-width: 79.375em) {
  .item-advantages__text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .item-advantages__text {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .item-advantages__text {
    font-size: 1rem;
  }
}

.feedback {
  background: #E5E5E5;
}
@media (min-width: 79.375em) {
  .feedback {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .feedback {
    padding-top: calc(2.5rem + 5 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .feedback {
    padding-top: 2.5rem;
  }
}
@media (min-width: 79.375em) {
  .feedback {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .feedback {
    padding-bottom: calc(2.5rem + 6.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .feedback {
    padding-bottom: 2.5rem;
  }
}
.feedback__title {
  text-align: center;
}
.feedback__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.feedback__subtitle {
  max-width: 35.625rem;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 79.375em) {
  .feedback__subtitle:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .feedback__subtitle:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .feedback__subtitle:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.feedback__slider {
  height: 100%;
  min-width: 0;
}
@media (min-width: 79.375em) {
  .feedback__swiper {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .feedback__swiper {
    margin-bottom: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .feedback__swiper {
    margin-bottom: 1.875rem;
  }
}
.feedback__slide {
  padding: 1.5rem;
  background: #fff;
}
@media (max-width: 29.99875em) {
  .feedback__slide {
    padding: 1.25rem 0.625rem;
  }
}
.feedback__arrows {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}
.feedback__arrow {
  flex: 0 0 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback__arrow_prev {
  background: #bebebe;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .feedback__arrow_prev:hover {
    background: #FDC332;
  }
}
.feedback__arrow_next {
  background: #FDC332;
  transform: rotate(-180deg);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .feedback__arrow_next:hover {
    background: #dda50b;
  }
}

.slide-feedback__rating {
  margin-bottom: 0.75rem;
}
.slide-feedback__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  margin-bottom: 1.5rem;
}
.persone {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.persone__name {
  line-height: 1.5;
  font-weight: 500;
}
@media (min-width: 79.375em) {
  .persone__name {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .persone__name {
    font-size: calc(1.125rem + 0.375 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .persone__name {
    font-size: 1.125rem;
  }
}
.persone__position {
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(37, 49, 49, 0.7);
}

.subscribe {
  background: #FDC332;
}
@media (min-width: 79.375em) {
  .subscribe {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .subscribe {
    padding-top: calc(1.875rem + 1.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .subscribe {
    padding-top: 1.875rem;
  }
}
@media (min-width: 79.375em) {
  .subscribe {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .subscribe {
    padding-bottom: calc(2.5rem + 1.25 * (((100vw - 20rem)) / ((59.375))));
  }
}
@media (max-width: 20em) {
  .subscribe {
    padding-bottom: 2.5rem;
  }
}
.subscribe__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__title {
  text-align: center;
  margin-bottom: 0.625rem;
}
.subscribe__subtitle {
  text-align: center;
  max-width: 43.75rem;
  margin: 0 auto;
  margin-bottom: 1.875rem;
}
.subscribe__button {
  position: relative;
  justify-content: center;
  background: #253131;
  color: #fff;
  transition: all 0.3s ease 0s;
  animation: btn 0.5s linear infinite alternate running 0s forwards;
}
@media (any-hover: hover) {
  .subscribe__button:hover {
    background: #000;
  }
}

@keyframes btn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
